@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Alkalami', serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 50px 0px 20px 0;
    font-size: 45px;
    line-height: 55px;
    color: white;
    text-shadow: 2px 5px 10px #B41757;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 25px;
    border: none;
    background-color: #B41757;
    box-shadow: 0 3px 2px white;
    transition: all 200ms ease-in-out;
    color: white;
    margin-left: 600px
}

button:hover {
    transform: translateY(5px);
    background-color: #d3427c;
    box-shadow: none
}

.display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h3 {
    margin: 10px 100px;
    font-size: 25px;
    line-height: 35px;
}

#grid {
    width: 1200px;
    height: 80vh;
    margin: 0 auto;
}

img {
    width: 160px;
    height: 160px;
    margin: 6px;
    border-radius: 5px;
    border: 4px solid rgb(121, 119, 119);
}

footer {
    margin: 10px 0;
    font-size: 18px;
    line-height: 25px;
    color: rgb(211, 203, 203);
}

footer a {
    text-decoration: none;
    color: rgb(211, 203, 203);
    transition: all 200ms ease-in-out;
}

footer a:hover {
    display: inline-block;
    color: rgb(155, 151, 151);
    transform: translateY(-5px);
}

@media only screen and (max-width: 1200px) {
    #grid {
        width: 820px;
        height: 72vh;
        margin-top: 50px;
    }
    img {
        width: 125px;
        height: 125px;
        margin: 5px;
    }
  }

@media only screen and (max-width: 820px) {
    #grid {
        width: 660px;
        
    }
    img {
        width: 100px;
        height: 100px;
        margin: 5px;
    }
  }

  @media only screen and (max-width: 680px) {
    #grid {
        width: 440px;
        height: 72vh;
    }
    img {
        width: 65px;
        height: 65px;
        margin: 4px;
    }
  }