* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    margin: 10px 0;
    font-size: 30px;
    line-height: 40px;
}

h3 {
    margin: 10px 0;
    font-size: 20px;
    line-height: 25px;
}

#grid {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}

img {
    width: 200px;
    height: 200px;
    margin: 10px;
}

@media only screen and (max-width: 820px) {
    #grid {
        width: 660px;
        height: 1000px;
        margin: 0 auto;
    }
    img {
        width: 120px;
        height: 120px;
        margin: p5x;
    }
  }