* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    margin: 10px 0;
    font-size: 30px;
    line-height: 40px;
}

h3 {
    margin: 10px 0;
    font-size: 20px;
    line-height: 25px;
}

#grid {
    width: 1300px;
    height: 90vh;
    margin: 0 auto;
}

img {
    width: 180px;
    height: 180px;
    margin: 8px;
    border-radius: 5px;
    border: 4px solid rgb(121, 119, 119);
}

@media only screen and (max-width: 820px) {
    #grid {
        width: 660px;
        height: 1000px;
        margin: 0 auto;
    }
    img {
        width: 120px;
        height: 120px;
        margin: 8x;
    }
  }

  @media only screen and (max-width: 680px) {
    #grid {
        width: 440px;
        height: 1200px;
        margin: 0 auto;
    }
    img {
        width: 80px;
        height: 80px;
        margin: 8x;
    }
  }